<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" name="userId" id="userId" placeholder="아이디"><br>
        <input type="password" name="userPw" id="userPw" placeholder="비밀번호"><br>
        <input type="text" name="name" id="name" placeholder="이름"><br>
        <input type="text" name="age" id="age" placeholder="나이"><br>
        <input type="file" name="profile" id="profile">
        <br><br>
        <button type="button" onclick="register">회원가입</button>
    </form>
</body>
<script>
    function register(){
        const formData = new FormData();
        const file=document.querySelector('.profile')
        axios({

            method:'post',
            url:'/practice/register',
            data:formData,
                headers:{
                    'Content-Type' : 'multipart/form-data',
                    // enctype 지정과 동일
                }
        })
    }
</script>
</html>