@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'SUITE';
    margin: 0;
    padding: 0;
    background-image: url('./img/background1.jpg');
    width: 100%;
    height: 100vh;
    /* background-size: 100% 100%; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup {
    height: 600px;
    background-color: white;
    border-radius: 20px;
    /* display:flex; */
    /* justify-content: center; */
    width: 500px;
    
}


#popup2 {
    display: none;
}

#popup3 {
    display: none;
    /* animation: popup 1s forwards; */
}
#popup4 {
    display: none;
    /* animation: popup 1s forwards; */
}

.logo {
    margin-top: 50px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.survey {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #FADEDA;
    border: 3px solid #FADEDA;
    text-align: center;
    line-height: 30px;
}

.line {
    display: inline-block;
    width: 80px;
    height: 2px;
    /* border-radius: 50px; */
    background-color: #FADEDA;
    /* text-align: center; */
    line-height: 30px;
}

.line1 {
    display: inline-block;
    width: 80px;
    height: 12px;
    border-radius: 10px 0 0 10px;
    background-color: #FADEDA;
    line-height: 30px;
}

.line2 {
    display: inline-block;
    width: 80px;
    height: 12px;
    border-radius: 0 10px 10px 0;
    background-color: #c1c1c1;
    /* text-align: center; */
    line-height: 30px;
}

.survey-num {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
    margin-top: 60px;
    font-weight: 600;
}


.question {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.q-box {
    width: 200px;
    height: 140px;
    font-family: 'SUITE';
    font-size: 16px;
    font-weight: 600;
}

input.q-box {
    border-radius: 10px;
    border: 3px solid #c1c1c1;
    background-color: white;
    opacity: 0.5;
}

input.q-box.q-box2 {
    width: 200px;
    border-radius: 10px;
    border: 3px solid #c1c1c1;
    background-color: white;
    opacity: 0.5;
    height: 70px;
    margin: 5px 10px;
}

input.q-box.q-box2:focus {
    border: 4px solid #FADEDA;
    opacity: 1;
}

.question-num1 {
    background-image: url("./img/yes.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    background-color: white;
}

.question-num1:focus {
    border: 4px solid #FADEDA;
    opacity: 1;
}

.question-num2 {
    background-image: url("./img/no.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.question-num2:focus {
    border: 4px solid #FADEDA;
    opacity: 1;
}

.p-ex {
    position: relative;
    margin-left: 40px;
    font-size: 13px;
    color: #919191;
}

.submit-btn {
    width: 425px;
    height: 40px;
    background-color: rgb(204, 204, 204);
    border: 0;
    border-radius: 10px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: 30px;
    font-family: 'SUITE';
    font-size: 13px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.submit-btn.next {
    box-shadow: 3px 3px 3px #9b9b9b;

}

.submit-btn.next:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.result-btn{
    width: 425px;
    height: 40px;
    background-color:#FADEDA;
    border: 0;
    border-radius: 10px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: 30px;
    font-family: 'SUITE';
    font-size: 13px;
    font-weight: 600;
    transition-duration: 0.3s;

}

.result-btn.next {
    box-shadow: 3px 3px 3px #9b9b9b;

}

.result-btn.next:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.move-btn {
    width: 425px;
    height: 40px;
    background-color: #FADEDA;
    border: 0;
    border-radius: 10px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    top: 30px;
    font-family: 'SUITE';
    font-size: 13px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.move-btn.next {
    box-shadow: 3px 3px 3px #9b9b9b;

}

.move-btn.next:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

ul {
    list-style-type: none;
}

#firstAnswer{
    margin-top:40px;
}

.survey-result{
    width: 425px;
    margin: 0 auto;
}
.yes-no-idx{
    width:360px; 
    display: flex; 
    justify-content: flex-start; 
    margin:10px 0;
}
.pie-wrapper{
    display: flex;
    width: 400px;
    margin-top:15px;
}

.pie-chart {
    /* position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%; */
    /* animation:donut 1s; */
    position: relative;
    display:inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transition: all 0.3s ease; 
    
}

.month-price{
    /* margin-top:30px;    */
    margin-top: 130px;
}
/* .transition{
    transition: all 0.3s ease; 

  } */
  span.center{
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

.graphWrap {
    position: relative;
    width: 400px;
    height: 290px;
    /* margin: 20px auto 0; */
    margin-left: -20px;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top:40px;
}

.graphWrap .graph>div {
    position: absolute;
    bottom: 0;
    height: 40px;
    font-size: 16px;
    /* line-height: 16px; */
    display: flex;
    /* align-items: center; */
    /* padding-left: 10px; */
    /* border-radius: 50px 50px 0 0;*/
}

.graphWrap .graph>div#item1 {
    left: 0px;
    top:0;
    background:#ff6464;
}

.graphWrap .graph>div#item2 {
    left: 0px;
    top:50px;
    background:#ff9364;

}
.graphWrap .graph>div#item3 {
    left: 0px;
    top:100px;
    background: #ffef64;
    
}
.graphWrap .graph>div#item4 {
    left: 0px;
    top:150px;
    background:#7fed88;
    
}
.graphWrap .graph>div#item5 {
    left: 0px;
    top:200px;
    background: #7fd1ed;
    
}
.graphWrap .graph>div#item6 {
    left: 0px;
    top:250px;
    background: #d07fed;
    
}
.stress{
    background-color: #0000001f;
    height: 100%;
    line-height: 40px;
    /* align-items: center; */
    padding: 0 10px;
    width: 125px;
    color: white;
    font-weight: bold;
}
.percentage{
    position: absolute;
    right: 20px;
    line-height: 40px;
    color :black;

}

.idx-box{
    width:10px;
    height:10px;
    /* background-color:red; */
    margin-right:4px;
    margin-left:15px;
}

.idx-wrapper{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    width:400px;
}
.idx-name{
    width:fit-content;
    line-height: 1;
    /* margin-right:14px; */
}

.idx-box1{
    background-color: #ff6464;
}
.idx-box2{
    background-color: #ff9364;
}
.idx-box3{
    background-color: #ffef64;
}
.idx-box4{
    background-color: #7fed88;
}
.idx-box5{
    background-color: #7fd1ed;
}
.idx-box6{
    background-color: #d07fed;
}

.p-1 {
    width:92%;
    animation: p-1 1s;
}

.p-2 {
    width:72%;
    animation: p-2 1s;
}

.p-3 {
    width:55%;
    animation: p-3 1s;
}

.p-4 {
    width:52%;
    animation: p-4 1s;
}

.p-5 {
    width:50%;
    animation: p-5 1s;
}

.p-6 {
    width:35%;
    animation: p-6 1s;
}

/* 애니메이션 */
/* @keyframes popup {
    from{
        width:0%;
    }
    to{
        width:500px;
    }
} */

@keyframes p-1 {
    from {
        width: 0px
    }
    to {
        width: 92%;
    }
}

@keyframes p-2 {
    from {
        width: 0px
    }
    to {
        /* width:72%; */
    }
}

@keyframes p-3 {
    from {
        width: 0px
    }
    to {
        width:55%;
    }
}

@keyframes p-4 {
    from {
        width: 0px
    }
    to {
        width:52%;
    }
}

@keyframes p-5 {
    from {
        width: 0px
    }
    to {
        width:50%;
    }
}

@keyframes p-6 {
    from {
        /* height: 0px */
        width: 0px
    }
    to {
        /* height: 150px */
        width:35%;
    }
}


@media all and (max-width:767px) {

.popup{
    height:80vh;
    width:90%;
}
.q-box{
    width:43%;
}
.submit-btn{
    width:92%;
}
.p-ex{
    margin-left: 5%;
}
input.q-box.q-box2 {
    width: 44%;
    margin:5px;
    font-size:0.9rem;
}
.result-btn{
    width:92%;
}
.pie-wrapper{
    flex-wrap: wrap;
    justify-content: center;
}
.month-price{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.survey-result {
    width: 94%;
}

.yes-no-idx{
    width:100%; 
    display: flex; 
    justify-content: center; 
    margin:10px 0;
}
.move-btn{
    width:92%;
}

.graphWrap{
    width:80%;
    height: 270px;
}
.graphWrap .graph>div {
    height: 14%;
}
.graphWrap .graph>div#item1 {
    top:0;
}

.graphWrap .graph>div#item2 {
    top:47px;

}
.graphWrap .graph>div#item3 {
    top:93px;
    
}
.graphWrap .graph>div#item4 {
    top:139px;
    
}
.graphWrap .graph>div#item5 {
    top:185px;
    
}
.graphWrap .graph>div#item6 {
    top:232px;
    
}
.idx-wrapper{
    width:80%;
}
.idx-name{
    
}
}