<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <!-- 채팅방 메세지 추가 -->
    </div>
    <div class="input-container">
      <input type="text" id="input-message" placeholder="메세지 작성" />
      <button id="send message">채팅</button>
    </div>
    <script>
      const socket = io();
      const roomId = '<%=roomId%>';
      // 페이지가 열렸을 때 사용자가 방에 입장했음을서버에 전송
      socket.on('connect', () => {
        socket.emit('join', roomId, socket.id);
      });
    </script>
  </body>
</html>
