@import './variables.scss';
@import './utils.scss';
// - 변수 선언 : $ 키워드 사용
// $color-red: red;
// $color-orange: orange;
// $color-yellow: yellow;
// $animation-duration: 0.4s;

// @mixin box($size) {
//   width: $size;
//   height: $size;
// }

.container {
  display: flex;

  // 중첩 : 부모 자식 표현 가능
  .box {
    @include box(150px);

    // & : 부모 선택자 참조해서 치환
    &.red {
      // &.red : .box.red
      background-color: $color-red;
    }
    &.orange {
      background-color: $color-orange;
    }
    &.yellow {
      background-color: $color-yellow;
    }
    &:hover {
      // - 연산 가능
      $box-animation: $animation-duration * 2;
      transform: translateY(-20px);
      transition: transform $box-animation;
    }
  }
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.btn-primary {
  // - 확장 : 기존 선택자 스타일을 다른 선택자에게 상속
  @extend .btn;
  background-color: cornflowerblue;
}

@media (max-width: $breakpoint-sm) {
  .container {
    flex-direction: column;
  }
}
