<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head',{title:'register'}) %>
</head>
<body>
    <%- include('./component/header') %>
    <h1>Register</h1>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ID</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter the ID">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">PW</label>
        <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Enter the PW">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com">
      </div>
      <button type="button" class="btn btn-primary">Sign up</button>
      

</body>
</html>